body 
  {
    background-color: white;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }
  .header_box
  {
    width: 100%;
    background: #62D0C6;
    height: 10vh max-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: auto;
    align-items: center;
  }
  #my_logo 
  {
    padding: 0.75vh; 
    width:12vh;
    margin-left: 3vh;
  }
  #name 
  {
    color: honeydew; 
    font-style: normal;
    font-weight: bold; 
    font-size: 4vh; 
    margin-left: 10vh;
    flex:8;
    line-height: 5vh;
  }
  .home_tab 
  { 
    flex:1; 
    padding: 0.5vh;
    width: 12vw;
    height: max-content;
  }
  .work_tab 
  { 
    flex:1; 
    padding: 0.5vh; 
    margin-left: 2vh;
    width: max-content;
    height: max-content;
  }
  #home_tab 
  {
    color: honeydew; 
    font-size: 2.5vh; 
    box-shadow: 0px 0px 15px rgb(255, 255, 255); 
    border-radius: 30px;
    padding: 0.5vh;
  }
  #work_tab 
  {
    color: honeydew; 
    font-size: 2.5vh;
    padding: 0.5vh;
  }
  .intro_box 
  {
    margin: auto;
    width: 80vw;
    height: max-content;
    padding-top: 1vh;
    display: flex;
    flex-wrap: wrap;
  } 
  #me 
  {
      margin-top: 12vh;
      margin-left: 2vw;
      height: 50vh; 
  }
  .me
  {
    flex: 1;
  }
  .intro_text 
  {
    margin: 10vh;
    flex: 1;
  }
  #Hi 
  {
    padding-top:5vh; 
    font-size: 5vh; 
    font-weight: bold; 
    line-height: 20%;
  }
  #Snehal 
  {
    font-size: 5vh; 
    font-weight: bold; 
    line-height: 100%;
  }
  #intro 
  {
    font-size: 2vh; 
    font-style: italic;
  }
  #bio 
  {
    font-size: 2vh; 
    font-style: normal;
  }
  #connect 
  {
    font-size: 2vh; 
    font-weight: bold;
  }
  #sns 
  {
    height:3vh; 
    padding: 1vh;
  }
   .divider_line1 
  {
    margin: auto;
    width: 90%;
    background: #62D0C6;
    height: 0.5vh;
  }
  .skills_box 
  {
    position: center;
    width: 90%;
    height: 60vh;
    padding-top: 5vh;
    padding-left: 5vw;
  
    display: inline-block;
  }
  #skills 
  {
    height:5vh;
  }
  #skill 
  {
    grid-template-columns: auto; 
    padding-top: 5vh; 
    height:15vh;
  }
  .skill_level 
  {
    margin: auto; 
    position: center;
  }
  .divider_line2 
  {
    margin: auto;
    margin-top: 5vh;
    width: 90%;
    background: #62D0C6;
    height: 0.5vh;
  }
  .work_box 
  {
    position: center;
    width: 90%;
    height: 60vh max-content;
    padding-top: 5vh;
    padding-left: 5vw;
    display: inline-block;
    margin-bottom: 5vw ;
  }
  .featured_work 
  {
    width: 80vw; 
    margin: auto; 
  }
  #works 
  { 
    height:5vh;
  } 
  #work 
  {
    margin: auto; 
    padding-top: 10vh; 
    padding: 5vh; 
    width:40vh; 
  }
  .view_more 
  { 
    margin: auto; 
    width:15vw; 
    height: 5vh max-content; 
    background-color:#62D0C6; 
    box-shadow: 0px 0px 4px grey; 
    border-radius: 50px;
    margin-bottom: 5vw;;
  }
  #view_more 
  { 
    padding: 1vh; 
    margin: auto;
    font-size: 3vh; 
    color: honeydew; 
    font-weight: bold;
  }
  .footer_box 
  {
    position: center;
    width: 100%;
    background: #62D0C6;
    height: 20vh;
    padding-top: 1vh;
    display: inline-block;
  }
  .footer_content {
    position: center;
    width: 100%;
    background: #62D0C6;
    height: 10vh;
    display: flex;
    align-items: center;
  }

#sns_footer 
{
  height:3vh; 
  padding: 1vh; 
  padding-right: 2vw;
}
#contact 
{
  padding-top: 1vh; 
  padding-left: 5vw; 
  font-size: 3vh; 
  font-weight: bold;
}
#email 
{
  margin-left: 2vh; 
  font-size: 2vh; 
  flex: 1;
}
#email_icon 
{
  height:3vh; 
  padding-top:1vh; 
  margin-left:5vw;
}

/*-----------------------------Responsive Code here---------------------------------*/
@media only screen and (max-width: 600px)
{
    body 
    {
      background-color: white;
      margin: auto;
      font-family: 'Montserrat', sans-serif;
    }
    .header_box
    {
      width: 100%;
      background: #62D0C6;
      height: 10vh max-content;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: auto;
      align-items: center;
    }
    #my_logo 
    {
      padding: 0.75vh; 
      width:12vh;
      margin-left: 3vh;
    }
    #name 
    {
      color: honeydew; 
      font-style: normal;
      font-weight: bold; 
      font-size: 4vh; 
      margin-left: 10vh;
      flex:8;
      line-height: 5vh;
    }
    .home_tab 
    { 
      flex:1; 
      padding: 0.5vh;
      width: 12vw;
      height: max-content;
    }
    .work_tab 
    { 
      flex:1; 
      padding: 0.5vh; 
      margin-left: 2vh;
      width: max-content;
      height: max-content;
    }
    #home_tab 
    {
      color: honeydew; 
      font-size: 2.5vh; 
      box-shadow: 0px 0px 15px rgb(255, 255, 255); 
      border-radius: 30px;
      padding: 0.5vh;
    }
    #work_tab 
    {
      color: honeydew; 
      font-size: 2.5vh;
      padding: 0.5vh;
    }
    .intro_box 
    {
      position: center;
      width: 100%;
      height: max-content;
      padding-top: 1vh;
      display: flex;
      flex-wrap: wrap;
    } 
    #me 
    {
        margin-top: 12vh;
        margin-left: 2vw;
        height: 50vh; 
    }
    .me
    {
      flex: 1;
    }
    .intro_text 
    {
      margin: 10vh;
      flex: 1;
    }
    #Hi 
    {
      padding-top:5vh; 
      font-size: 5vh; 
      font-weight: bold; 
      line-height: 20%;
    }
    #Snehal 
    {
      font-size: 5vh; 
      font-weight: bold; 
      line-height: 100%;
    }
    #intro 
    {
      font-size: 2vh; 
      font-style: italic;
    }
    #bio 
    {
      font-size: 2vh; 
      font-style: normal;
    }
    #connect 
    {
      font-size: 2vh; 
      font-weight: bold;
    }
    #sns 
    {
      height:3vh; 
      padding: 1vh;
    }
    .divider_line1 
    {
      margin: auto;
      width: 90%;
      background: #62D0C6;
      height: 0.5vh;
    }
    .skills_box 
    {
      position: center;
      width: 90%;
      height: 60vh;
      padding-top: 5vh;
      padding-left: 5vw;
    
      display: inline-block;
    }
    #skills 
    {
      height:5vh;
    }
    #skill 
    {
      grid-template-columns: auto; 
      padding-top: 5vh; 
      height:15vh;
    }
    .skill_level 
    {
      margin: auto; 
      position: center;
    }
    .divider_line2 
    {
      margin: auto;
      margin-top: 5vh;
      width: 90%;
      background: #62D0C6;
      height: 0.5vh;
    }
    .work_box 
    {
      position: center;
      width: 90%;
      height: 60vh max-content;
      padding-top: 5vh;
      padding-left: 5vw;
      display: inline-block;
      margin-bottom: 5vw ;
    }
    .featured_work 
    {
      width: 80vw; 
      margin: auto; 
    }
    #works 
    { 
      height:5vh;
    } 
    #work 
    {
      margin: auto; 
      padding-top: 10vh; 
      padding: 5vh; 
      width:40vh; 
    }
    .view_more 
    { 
      margin: auto; 
      width:15vw; 
      height: 5vh max-content; 
      background-color:#62D0C6; 
      box-shadow: 0px 0px 4px grey; 
      border-radius: 50px;
      margin-bottom: 5vw;;
    }
    #view_more 
    { 
      padding: 1vh; 
      margin: auto;
      font-size: 3vh; 
      color: honeydew; 
      font-weight: bold;
    }
    .footer_box 
    {
      position: center;
      width: 100%;
      background: #62D0C6;
      height: 20vh;
      padding-top: 1vh;
      display: inline-block;
    }
    .footer_content {
      position: center;
      width: 100%;
      background: #62D0C6;
      height: 10vh;
      display: flex;
      align-items: center;
    }

    #sns_footer 
    {
      height:3vh; 
      padding: 1vh; 
      padding-right: 2vw;
    }
    #contact 
    {
      padding-top: 1vh; 
      padding-left: 5vw; 
      font-size: 3vh; 
      font-weight: bold;
    }
    #email 
    {
      margin-left: 2vh; 
      font-size: 2vh; 
      flex: 1;
    }
    #email_icon 
    {
      height:3vh; 
      padding-top:1vh; 
      margin-left:5vw;
  }
}
