body 
  {
    background-color: white;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }
  .header_box
  {
    width: 100%;
    background: #62D0C6;
    height: 10vh max-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: auto;
    align-items: center;
  }
  #my_logo 
  {
    padding: 0.75vh; 
    width:12vh;
    margin-left: 3vh;
  }
  #name 
  {
    color: honeydew; 
    font-style: normal;
    font-weight: bold; 
    font-size: 4vh; 
    margin-left: 10vh;
    flex:8;
    line-height: 5vh;
  }
  .home_tab 
  { 
    flex:1; 
    padding: 0.5vh;
    width: 12vw;
    height: max-content;
  }
  .work_tab 
  { 
    flex:1; 
    padding: 0.5vh; 
    margin-left: 2vh;
    width: max-content;
    height: max-content;
  }
  #home_tab 
  {
    color: honeydew; 
    font-size: 2.5vh; 
    padding: 0.5vh;
  }
  #work_tab 
  {
    color: honeydew; 
    font-size: 2.5vh;
    padding: 0.5vh;
    box-shadow: 0px 0px 15px rgb(255, 255, 255); 
    border-radius: 30px;
  } 
  .page_title
  { 
    width:100%; 
    padding-top: 2vh;
  }
  #works 
  {
    margin-left: 5vw; 
    height:5vh;
  }
  #work_title 
  {
    margin-left:5vw; 
    font-size: 3vh; 
    font-weight:bold ; 
    color:#62D0C6 ;
  }
  .netflix_work 
  {
    width:90vw; 
    margin: auto; 
    margin-bottom: 5vh;
  }
  #netflix_work 
  {
    width: 90vw;
  }
  .footer_box 
  {
    position: center;
    width: 100%;
    background: #62D0C6;
    height: 20vh;
    padding-top: 1vh;
    display: inline-block;
  }
  .footer_content 
  {
    position: center;
    width: 100%;
    background: #62D0C6;
    height: 10vh;
    display: flex;
    align-items: center;
  }

  #sns_footer 
  {
    height:3vh; 
    padding: 1vh; 
    padding-right: 2vw;
  }
  #contact 
  {
    padding-top: 1vh; 
    padding-left: 5vw; 
    font-size: 3vh; 
    font-weight: bold;
  }
  #email 
  {
    margin-left: 2vh; 
    font-size: 2vh; 
    flex: 1;
  }
  #email_icon 
  {
    height:3vh; 
    padding-top:1vh; 
    margin-left:5vw;
  }


/*-----------------------------Responsive Code here---------------------------------*/


  body 
  {
    background-color: white;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
  }
  .header_box
  {
    width: 100%;
    background: #62D0C6;
    height: 10vh max-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: auto;
    align-items: center;
  }
  #my_logo 
  {
    padding: 0.75vh; 
    width:12vh;
    margin-left: 3vh;
  }
  #name 
  {
    color: honeydew; 
    font-style: normal;
    font-weight: bold; 
    font-size: 4vh; 
    margin-left: 10vh;
    flex:8;
    line-height: 5vh;
  }
  .home_tab 
  { 
    flex:1; 
    padding: 0.5vh;
    width: 12vw;
    height: max-content;
  }
  .work_tab 
  { 
    flex:1; 
    padding: 0.5vh; 
    margin-left: 2vh;
    width: max-content;
    height: max-content;
  }
  #home_tab 
  {
    color: honeydew; 
    font-size: 2.5vh; 
    padding: 0.5vh;
  }
  #work_tab 
  {
    color: honeydew; 
    font-size: 2.5vh;
    padding: 0.5vh;
    box-shadow: 0px 0px 15px rgb(255, 255, 255); 
    border-radius: 30px;
  } 
  .page_title
  { 
    width:100%; 
    padding-top: 2vh;
  }
  #works 
  {
    margin-left: 5vw; 
    height:5vh;
  }
  #work_title 
  {
    margin-left:5vw; 
    font-size: 3vh; 
    font-weight:bold ; 
    color:#62D0C6 ;
  }
  .netflix_work 
  {
    width:90vw; 
    margin: auto; 
    margin-bottom: 5vh;
  }
  #netflix_work 
  {
    width: 90vw;
  }
  .footer_box 
  {
    position: center;
    width: 100%;
    background: #62D0C6;
    height: 20vh;
    padding-top: 1vh;
    display: inline-block;
  }
  .footer_content 
  {
    position: center;
    width: 100%;
    background: #62D0C6;
    height: 10vh;
    display: flex;
    align-items: center;
  }

  #sns_footer 
  {
    height:3vh; 
    padding: 1vh; 
    padding-right: 2vw;
  }
  #contact 
  {
    padding-top: 1vh; 
    padding-left: 5vw; 
    font-size: 3vh; 
    font-weight: bold;
  }
  #email 
  {
    margin-left: 2vh; 
    font-size: 2vh; 
    flex: 1;
  }
  #email_icon 
  {
    height:3vh; 
    padding-top:1vh; 
    margin-left:5vw;
  }